In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict
import pickle
import os
import time
import timeit
import json

# pickloader = open("pickles/reviews_books.pkl","rb")
# reviews_books = pickle.load(pickloader)
# pickloader.close()

# pickloader = open("pickles/meta_books.pkl","rb")
# meta_books = pickle.load(pickloader)
# pickloader.close()

In [24]:
# #pickle save

# pickler = open("pickles/reviews_books.pkl","wb")
# pickle.dump(reviews_books, pickler)
# pickler.close()

# pickler = open("pickles/meta_books.pkl","wb")
# pickle.dump(meta_books, pickler)
# pickler.close()

# pickler = open("pickles/books.pkl","wb")
# pickle.dump(books, pickler)
# pickler.close()

In [11]:
reviews_books.head(1)

,asin,overall,reviewText,reviewerID,year
0,0000000116,4,Show me the money! Interesting Grisham tale of...,AH2L9G3DQHHAJ,2002-04-27

In [10]:
%%time
reviews_books['reviewText'] = reviews_books['summary']+" "+reviews_books['reviewText']
# reviews_books['year']= pd.to_datetime(reviews_books.reviewTime)
reviews_books = reviews_books.drop(columns = ['helpful','reviewTime','reviewerName','summary','unixReviewTime'])

CPU times: user 15.5 s, sys: 6.76 s, total: 22.3 s
Wall time: 22.2 s

In [15]:
# meta_books = meta_books.drop(columns = ['brand','price','salesRank'])
meta_books.head()

,asin,categories,description,imUrl,related,title
0,0001048791,[[Books]],NaN,http://ecx.images-amazon.com/images/I/51MKP0T4...,NaN,"The Crucible: Performed by Stuart Pankin, Jero..."
1,0001048775,[[Books]],William Shakespeare is widely regarded as the ...,http://ecx.images-amazon.com/images/I/5166EBHD...,NaN,Measure for Measure: Complete &amp; Unabridged
2,0001048236,[[Books]],"&#34;One thing is certain, Sherlockians, put a...",http://ecx.images-amazon.com/images/I/51DH145C...,"{'also_viewed': ['1442300191', '9626349786', '...",The Sherlock Holmes Audio Collection
3,0000401048,[[Books]],NaN,http://ecx.images-amazon.com/images/I/41bchvIf...,{'also_viewed': ['068240103X']},The rogue of publishers' row;: Confessions of ...
4,0001019880,[[Books]],NaN,http://ecx.images-amazon.com/images/I/61LcHUdv...,"{'also_viewed': ['B003HMB5FC', '0834004593'], ...",Classic Soul Winner's New Testament Bible

In [19]:
reviews_books['asin']= reviews_books['asin'].astype(str)
meta_books['asin']= meta_books['asin'].astype(str)

In [ ]:
# meta_books['temp']=meta_books.categories.astype(str).replace('[','').replace(']','')

In [17]:
print(reviews_books.shape, meta_books.shape)

(22507155, 5) (2370585, 6)

In [22]:
temp.shape

(22507155, 10)

In [21]:
temp = reviews_books.merge(meta_books, how='left', on='asin')
temp.head()

,asin,overall,reviewText,reviewerID,year,categories,description,imUrl,related,title
0,0000000116,4,Show me the money! Interesting Grisham tale of...,AH2L9G3DQHHAJ,2002-04-27,[[Books]],NaN,http://ecx.images-amazon.com/images/I/51Rbg%2B...,"{'also_viewed': ['B005U9T66K', 'B00602O7PG', '...",Georgina Goodman Nelson Womens Size 8.5 Purple...
1,0000000116,1,Listing is all screwed up The thumbnail is a s...,A2IIIDRK3PRRZY,2014-03-24,[[Books]],NaN,http://ecx.images-amazon.com/images/I/51Rbg%2B...,"{'also_viewed': ['B005U9T66K', 'B00602O7PG', '...",Georgina Goodman Nelson Womens Size 8.5 Purple...
2,0000000868,4,Not a Bad Translation I'll be honest. I work f...,A1TADCM7YWPQ8M,2002-09-11,[[Books]],NaN,http://ecx.images-amazon.com/images/I/41K1RtF0...,NaN,Foot Rot of Piper nigrum. L. (Phytopathologica...
3,0000013714,4,Not the large print It had all the songs I wan...,AWGH7V0BDOJKB,2013-10-31,[[Books]],NaN,http://ecx.images-amazon.com/images/I/51M1p2do...,"{'also_bought': ['0005080789', '0005476798', '...",Heavenly Highway Hymns: Shaped-Note Hymnal
4,0000013714,5,I was disappointed that you would only allow m...,A3UTQPQPM4TQO0,2013-07-27,[[Books]],NaN,http://ecx.images-amazon.com/images/I/51M1p2do...,"{'also_bought': ['0005080789', '0005476798', '...",Heavenly Highway Hymns: Shaped-Note Hymnal

In [23]:
books = temp