In [16]:
import pandas as pd
import numpy as np
from collections import defaultdict
import pickle
import os
import time
import timeit
import json

# pickloader = open("pickles/reviews_kindle.pkl","rb")
# reviews_kindle = pickle.load(pickloader)
# pickloader.close()

# pickloader = open("pickles/meta_kindle.pkl","rb")
# meta_kindle = pickle.load(pickloader)
# pickloader.close()

In [28]:
#pickle save

pickler = open("pickles/reviews_kindle.pkl","wb")
pickle.dump(reviews_kindle, pickler)
pickler.close()

pickler = open("pickles/meta_kindle.pkl","wb")
pickle.dump(meta_kindle, pickler)
pickler.close()

pickler = open("pickles/kindle.pkl","wb")
pickle.dump(kindle, pickler)
pickler.close()

In [17]:
reviews_kindle.head(1)

,asin,overall,reviewText,reviewerID,year
0,1603420304,4,Good solid recipes I am well out of college bu...,A2GZ9GFZV1LWB0,2014-07-13

In [18]:
meta_kindle.head(1)

,asin,categories,description,imUrl,related,title
0,1603420304,"[[Books, Cookbooks, Food & Wine, Quick & Easy]...",In less time and for less money than it takes ...,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...",NaN

In [19]:
# %%time
# reviews_kindle['reviewText'] = reviews_kindle['summary']+" "+reviews_kindle['reviewText']
# reviews_kindle['year']= pd.to_datetime(reviews_kindle.reviewTime)
# reviews_kindle = reviews_kindle.drop(columns = ['helpful','reviewTime','reviewerName','summary','unixReviewTime'])

CPU times: user 4min 39s, sys: 900 ms, total: 4min 40s
Wall time: 4min 35s

In [22]:
# meta_kindle = meta_kindle.drop(columns = ['brand','price','salesRank'])
# meta_kindle.head()

,asin,categories,description,imUrl,related,title
0,1603420304,"[[Books, Cookbooks, Food & Wine, Quick & Easy]...",In less time and for less money than it takes ...,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...",NaN
1,B0002IQ15S,"[[Kindle Store, Kindle Accessories, Power Adap...",This universal DC adapter powers/charges porta...,http://ecx.images-amazon.com/images/I/21QFJM28...,"{'also_viewed': ['B00511PS3C', 'B000PI17MM', '...",Mobility IGO AUTOPOWER 3000 SERIES ( PS0221-10 )
2,B000F83SZQ,"[[Books, Literature & Fiction], [Books, Myster...",NaN,http://ecx.images-amazon.com/images/I/51yLqHe%...,"{'also_bought': ['B0080H1C0W', 'B00LK4ZKOG', '...",NaN
3,B000F83TEQ,"[[Books, Literature & Fiction], [Books, Myster...",NaN,http://ecx.images-amazon.com/images/I/2136NBNV...,"{'also_bought': ['B00IS81LFO', 'B000FA5T6A', '...",NaN
4,B000F83STC,"[[Books, Literature & Fiction, Erotica], [Kind...",NaN,http://g-ecx.images-amazon.com/images/G/01/x-s...,NaN,NaN

In [19]:
print(reviews_kindle.shape, meta_kindle.shape)

(3205467, 5) (434702, 6)

In [26]:
temp.shape

(3205467, 10)

In [25]:
temp = reviews_kindle.merge(meta_kindle, how='left', on=['asin']).drop_duplicates()
temp.head()

,asin,overall,reviewText,reviewerID,year,categories,description,imUrl,related,title
0,1603420304,4,Good solid recipes I am well out of college bu...,A2GZ9GFZV1LWB0,2014-07-13,"[['Books', 'Cookbooks, Food & Wine', 'Quick & ...",In less time and for less money than it takes ...,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...",nan
1,1603420304,3,"Okay for true beginners So, I bought this book...",A1K7VSUDCVAPW8,2010-08-19,"[['Books', 'Cookbooks, Food & Wine', 'Quick & ...",In less time and for less money than it takes ...,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...",nan
2,1603420304,4,Worth the money The pros:1. It really teaches ...,A35J5XRE5ZT6H2,2013-04-06,"[['Books', 'Cookbooks, Food & Wine', 'Quick & ...",In less time and for less money than it takes ...,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...",nan
3,1603420304,4,Good book got it in good time. i think its a g...,A3DGZNFSMNWSX5,2010-09-28,"[['Books', 'Cookbooks, Food & Wine', 'Quick & ...",In less time and for less money than it takes ...,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...",nan
4,1603420304,5,Very adorable I bought this for my friend's bi...,A2CVDQ6H36L4VL,2012-07-16,"[['Books', 'Cookbooks, Food & Wine', 'Quick & ...",In less time and for less money than it takes ...,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...",nan

In [20]:
meta_kindle = meta_kindle.astype(str)
# meta_kindle['asin']= meta_kindle['asin'].astype(str)
# meta_kindle['categories']= meta_kindle['categories'].astype(str)
# meta_kindle['description']= meta_kindle['description'].astype(str)
# meta_kindle['imURL']= meta_kindle['imURL'].astype(str)
# meta_kindle['related']= meta_kindle['related'].astype(str)
# meta_kindle['title']= meta_kindle['title'].astype(str)
meta_kindle.dtypes

asin           object
categories     object
description    object
imUrl          object
related        object
title          object
dtype: object

In [21]:
reviews_kindle['asin']= reviews_kindle['asin'].astype(str)

In [23]:
meta_kindle['asin']= meta_kindle['asin'].astype(str)

In [27]:
kindle = temp